/* Display */
	body{background-image: url('PlanetBackground.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;}
	.title{font: 4vw Audiowide;
			color: white;
			text-align: center;}

/* Shutdown, Stabilize, Calibrate */
	.Shutdown{font: 1.5vw Helvetica;
				width: 10%;
				height: 6%;
				position: absolute;
				top: 3.5%;
				left: 5%;
				color: black;
				background-image: url('ButtonBackground.jpeg');
				border-radius: 5px;
				text-align: center;
				border: 2px solid #3d6b91;}
	.Stabilize{font: 1.5vw Helvetica;
				width: 10%;
				height: 6%;
				position: absolute;
				top: 3.5%;
				right: 5%;
				color: black;
				background-image: url('ButtonBackground.jpeg');
				border-radius: 5px;
				text-align: center;
				border: 2px solid #3d6b91;}
		.Calibrate{font: 1.5vw Helvetica;
					width: 20%;
					height: 6%;
					position: absolute;
					top: 65%;
					left: 40%;
					color: #F7F7F7;
					background-color: #050d36;
					border-radius: 10px;
					border-color: #050d36;
					text-align: center;}

/* Navigation Bar */
	.HomeButton{font: 2vw Helvetica;
					color: black;
					border: 1px solid black;
					background-color: #F4F4F4;
					width: 25%;
					height: 6%;
					border-radius: 2px;
					text-align: center;
					position: absolute;
					top: 12.5%;
					left: 0.5%;}
	.InstructionButton{font: 2vw Helvetica;
					color: black;
					border: 1px solid black;
					background-color: #F4F4F4;
					width: 24%;
					height: 6%;
					border-radius: 2px;
					text-align: center;
					position: absolute;
					top: 12.5%;
					left: 25.5%;}
	.AIButton{font: 2vw Helvetica;
					color: #777777;
					border: 1px solid black;
					background-color: #F4F4F4;
					width: 25.5%;
					height: 6%;
					border-radius: 2px;
					text-align: center;
					position: absolute;
					top: 12.5%;
					left: 49.5%;}
	.SMButton{font: 2vw Helvetica;
					color: #777777;
					border: 1px solid black;
					background-color: #F4F4F4;
					width: 24.5%;
					height: 6%;
					border-radius: 2px;
					text-align: center;
					position: absolute;
					top: 12.5%;
					left: 75%;}

/* Emergency Stop Button */
	.StopButton{font: 4vw Audiowide;
				font-weight: 900;
				color: black;
				background-color: white;
				width: 99%;
				height: 10%;
				text-align: center;
				position: absolute;
				bottom: 0.5%;}

/* Live Data/Logging Window */
	.datawindow{background-color: #B8B8B8;
				height: 68%;
				width: 20%;
				position: absolute;
				left: 1%;
				top: 20%;}
	.LiveData{font: 2.1vw Helvetica;
			color: black;
			text-align: center;
			font-weight: 1000;
			position: absolute;
			width: 98%;
			left: 1%;
			top: 2%;
			margin-top: 0%;}
	.LogOpt{font: 2.1vw Helvetica;
			color: black;
			text-align: center;
			font-weight: 1000;
			position: absolute;
			width: 98%;
			left: 1%;
			top: 59%;
			margin-top: 0%;}
	.DataTable{border-collapse: collapse;
				position: absolute;
				left: 1%;
				top: 9%;
				width: 98%;}
	.DataLabel{font: 2vw Helvetica;
			color: #F7F7F7;
			border: 1px solid black;
			background-color: #6E6E6E;
			text-align: center;
			width: 20%;}
	.Data{font: 2vw Helvetica;
			color: black;
			border: 1px solid black;
			background-color: #F7F7F7;
			text-align: center;
			width: 78%;}
	.StartLog{font: 1.8vw Helvetica;
			color: #F7F7F7;
			border: 1px solid black;
			background-color: #6E6E6E;
			border-radius: 5px;
			text-align: center;
			width: 98%;
			height: 8%;
			position: absolute;
			left: 1%;
			top: 66%;}
	.StopLog{font: 1.8vw Helvetica;
			color: #F7F7F7;
			border: 1px solid black;
			background-color: #6E6E6E;
			border-radius: 5px;
			text-align: center;
			width: 98%;
			height: 8%;
			position: absolute;
			left: 1%;
			top: 74%;}
	.ClearLog{font: 1.8vw Helvetica;
			color: #F7F7F7;
			border: 1px solid black;
			background-color: #6E6E6E;
			border-radius: 5px;
			text-align: center;
			width: 98%;
			height: 8%;
			position: absolute;
			left: 1%;
			top: 82%;}
	.Save{font: 1.8vw Helvetica;
			color: #F7F7F7;
			border: 1px solid black;
			background-color: #1C116B;
			border-radius: 5px;
			text-align: center;
			width: 98%;
			height: 8%;
			position: absolute;
			left: 1%;
			top: 90%;}

/* Home Page */
	.welcomemsg1{font: 1.5vw Helvetica;
				color: white;
				text-align: center;
				padding-top: 5%;}
	.welcomemsg2{font: 1.5vw Helvetica;
				color: white;
				text-align: center;}

/* Instructions Page */
	.messages{overflow: scroll;
		position: absolute;
		top: 22%;
		width: 98%;
		height: 32%;}
.messages::-webkit-scrollbar {
		  -webkit-appearance: none;
			width: 8px;
			height: 15%;}
.messages::-webkit-scrollbar-track {
	    background: transparent;}
.messages::-webkit-scrollbar-track-piece:start {
			background: transparent;}
.messages::-webkit-scrollbar-track-piece:end {
	    background: transparent;}
.messages::-webkit-scrollbar-thumb {
		  background-color: white;
			border-radius: 5px;}
	.heading1{font: 2.4vw Helvetica;
			color: white;
			text-align: left;
			padding-left: 2%;
			margin: 0 0 0 0;}
	.Intext1{font: 1.5vw Helvetica;
			color: white;
			text-align: left;
			padding-left: 4%;
			padding-right: 2%;
			margin: 0.5% 0 0 0;}
	.heading2{font: 2.4vw Helvetica;
					color: white;
					text-align: left;
					padding-left: 2%;
					margin: 2% 0 0 0;}
	.Intext2{font: 1.5vw Helvetica;
				color: white;
				text-align: left;
				padding-left: 4%;
				padding-right: 2%;
				margin: 0.5% 0 0 0;}
	.heading3{font: 2.4vw Helvetica;
						color: white;
						text-align: left;
						padding-left: 2%;
						margin: 2% 0 0 0;}
	.Intext3{font: 1.5vw Helvetica;
					color: white;
					text-align: left;
					padding-left: 4%;
					padding-right: 2%;
					margin: 0.5% 0 0 0;
					line-height: 150%;}
	.warningmsg{font: 1.75vw Helvetica;
			font-weight: 900;
			font-style: italic;
			color: black;
			text-align: left;
			position: absolute;
			left: 5%;
			top: 72%;
			right: 5%;}
/* Settings Page */

/* Attitude Input Page */
.Yawlimit{font: 1.5vw Helvetica;
		color: white;
		width: 12%;
		text-align: center;
		position: absolute;
		left: 25%;
		top: 20%;}
.Pitchlimit{font: 1.5vw Helvetica;
		color: white;
		width: 12%;
		text-align: center;
		position: absolute;
		left: 45%;
		top: 20%;}
.Rolllimit{font: 1.5vw Helvetica;
		color: white;
		width: 12%;
		text-align: center;
		position: absolute;
		left: 65%;
		top: 20%;}
.YAWin{position: absolute;
		left: 25%;
		top: 27%;
		font: 1.5vw Helvetica;
		color: #F7F7F7;
		width: 12%;
		background-image: radial-gradient(at top,#97BBF0,#3069BF),
						radial-gradient(at bottom,#97BBF0,#3069BF);
		border-radius: 10px;
		text-align: center;
		border: 5px solid #2A60B0;}
.PITCHin{position: absolute;
		left: 45%;
		top: 27%;
		font: 1.5vw Helvetica;
		color: #F7F7F7;
		width: 12%;
		background-image: radial-gradient(at top,#97BBF0,#3069BF),
						radial-gradient(at bottom,#97BBF0,#3069BF);
		border-radius: 10px;
		text-align: center;
		border: 5px solid #2A60B0;}
.ROLLin{position: absolute;
		left: 65%;
		top: 27%;
		font: 1.5vw Helvetica;
		color: #F7F7F7;
		width: 12%;
		background-image: radial-gradient(at top,#97BBF0,#3069BF),
						radial-gradient(at bottom,#97BBF0,#3069BF);
		border-radius: 10px;
		text-align: center;
		border: 5px solid #2A60B0;}
.GO{position: absolute;
		left: 85%;
		top: 27%;
		font: 1.5vw Helvetica;
		color: #F7F7F7;
		width: 12%;
		background-image: radial-gradient(at top,#97BBF0,#3069BF),
						radial-gradient(at bottom,#97BBF0,#3069BF);
		border-radius: 10px;
		text-align: center;
		border: 5px solid #2A60B0;}
.Yawtitle{font: 1.5vw Helvetica;
		color: white;
		width: 12%;
		text-align: center;
		position: absolute;
		left: 25%;
		top: 30%;}
.Pitchtitle{font: 1.5vw Helvetica;
		color: white;
		width: 12%;
		text-align: center;
		position: absolute;
		left: 45%;
		top: 30%;}
.Rolltitle{font: 1.5vw Helvetica;
		color: white;
		width: 12%;
		text-align: center;
		position: absolute;
		left: 65%;
		top: 30%;}
.YPRError{background-color: #D1D1D1;
			border: 10px solid #DEDEDE;
			border-radius: 10px;
			height: 45%;
			width: 24%;
			position: absolute;
			left: 22%;
			top: 40%;
			text-align: center;}
.YPR{background-color: #D1D1D1;
			border: 10px solid #DEDEDE;
			border-radius: 10px;
			height: 45%;
			width: 24%;
			position: absolute;
			left: 48%;
			top: 40%;
			text-align: center;}
.AngVel{background-color: #D1D1D1;
			border: 10px solid #DEDEDE;
			border-radius: 10px;
			height: 45%;
			width: 24%;
			position: absolute;
			left: 74%;
			top: 40%;
			text-align: center;}
/* Search Mode Page */
	.SearchButton{position: absolute;
			left: 55%;
			top: 27%;
			font: 1.5vw Helvetica;
			color: #F7F7F7;
			width: 12%;
			background-image: radial-gradient(at top,#97BBF0,#3069BF),
							radial-gradient(at bottom,#97BBF0,#3069BF);
			border-radius: 10px;
			text-align: center;
			border: 5px solid #2A60B0;}
	.CameraView{font: 1.5vw Helvetica;
				color: white;
				background-color: #D1D1D1;
				border: 10px solid #DEDEDE;
				border-radius: 10px;
				height: 45%;
				width: 24%;
				position: absolute;
				left: 22%;
				top: 40%;
				text-align: center;}
	.YPRGraph{font: 1.5vw Helvetica;
				color: white;
				background-color: #D1D1D1;
				border: 10px solid #DEDEDE;
				border-radius: 10px;
				height: 45%;
				width: 24%;
				position: absolute;
				left: 48%;
				top: 40%;
				text-align: center;}
	.AngVelGraph{font: 1.5vw Helvetica;
				color: white;
				background-color: #D1D1D1;
				border: 10px solid #DEDEDE;
				border-radius: 10px;
				height: 45%;
				width: 24%;
				position: absolute;
				left: 74%;
				top: 40%;
				text-align: center;}
