/* Backgound Image */	
	body{background-image: url('PlanetBackground.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;}		
	
/* Page Title */	
	.title{font: 60px Tiger;
			color: white;
			text-align: center;
			padding-top: 10px;
			margin-bottom: 0px;}
	
/* Navigation Bar */	
	.navigation{display:flex;}
	.HomeButton{font: 27px Calibri;
					color: black;
					border: 1px solid black;
					background-color: #F4F4F4;
					width: 16%;
					border-radius: 2px;
					text-align: center;
					padding: 4px 0px 4px 0px;}
	.InstructionButton{font: 27px Calibri;
					color: black;
					border: 1px solid black;
					background-color: #F4F4F4;
					width: 17%;
					border-radius: 2px;
					text-align: center;
					padding: 4px 0px 4px 0px;}
	.SettingsButton{font: 27px Calibri;
					color: black;
					border: 1px solid black;
					background-color: #F4F4F4;
					width: 16%;
					border-radius: 2px;
					text-align: center;
					padding: 4px 0px 4px 0px;}
	.RTCButton{font: 27px Calibri;
					color: #777777;
					border: 1px solid black;
					background-color: #F4F4F4;
					width: 17%;
					border-radius: 2px;
					text-align: center;
					padding: 4px 0px 4px 0px;}
	.AIButton{font: 27px Calibri;
					color: #777777;
					border: 1px solid black;
					background-color: #F4F4F4;
					width: 17%;
					border-radius: 2px;
					text-align: center;
					padding: 4px 0px 4px 0px;}
	.SMButton{font: 27px Calibri;
					color: #777777;
					border: 1px solid black;
					background-color: #F4F4F4;
					width: 17%;
					border-radius: 2px;
					text-align: center;
					padding: 4px 0px 4px 0px;}

/* Emergency Stop Button */				
	.StopButton{font: 50px Tiger;
				font-weight: 900;
				color: black;
				background-color: white;
				width: 99%;
				text-align: center;
				position: absolute;
				bottom: 0.5%;
				padding-top: 15px;
				padding-bottom: 15px;}
				
/* Live Data/Logging Window */
	.datawindow{background-color: #B8B8B8;
				height: 510px;
				width: 300px;
				position: absolute;
				left: 10px;
				top: 300px;}
	.LiveData{font: 27px Calibri;
			color: black;
			text-align: center;
			font-weight: 1000;
			margin-bottom: 0px;}
	.LogOpt{font: 27px Calibri;
			color: black;
			text-align: center;
			font-weight: 1000;
			padding-top: 200px;}
	.DataTable{border-collapse: collapse;
				position: absolute;
				left: 15px;}
	.DataLabel{font: 27px Calibri;
			color: #F7F7F7;
			border: 1px solid black;
			background-color: #6E6E6E;
			text-align: center;
			width: 90px;}
	.Data{font: 27px Calibri;
			color: black;
			border: 1px solid black;
			background-color: #F7F7F7;
			text-align: center;
			width: 175;}
	.StartLog{font: 27px Calibri;
			color: #F7F7F7;
			border: 1px solid black;
			background-color: #6E6E6E;
			border-radius: 5px;
			text-align: center;
			width: 270px;
			height: 40px;
			position: absolute;
			left: 15px;
			top: 320px;}
	.StopLog{font: 27px Calibri;
			color: #F7F7F7;
			border: 1px solid black;
			background-color: #6E6E6E;
			border-radius: 5px;
			text-align: center;
			width: 270px;
			height: 40px;
			position: absolute;
			left: 15px;
			top: 360px;}
	.ClearLog{font: 27px Calibri;
			color: #F7F7F7;
			border: 1px solid black;
			background-color: #6E6E6E;
			border-radius: 5px;
			text-align: center;
			width: 270px;
			height: 40px;
			position: absolute;
			left: 15px;
			top: 400px;}
	.Save{font: 27px Calibri;
			color: #F7F7F7;
			border: 1px solid black;
			background-color: #1C116B;
			border-radius: 5px;
			text-align: center;
			width: 270px;
			height: 40px;
			position: absolute;
			left: 15px;
			top: 440px;}
				
/* Home Page */
	.welcomemsg1{font: 20px Tahoma;
				color: white;
				text-align: center;}
	.welcomemsg2{font: 20px Tahoma;
				color: white;
				text-align: center;}
				
/* Instructions Page */	
	.heading{font: 30px Audiowide;
			color: white;
			text-align: left;
			padding-left: 20px;}
	.Intext{font: 20px Audiowide;
			color: white;
			text-align: left;
			padding-left: 50px;
			padding-right: 20px;}
	.warningmsg{font: 25px Audiowide;
			font-style: italic;
			color: black;
			text-align: left;
			padding-right: 20px;
			padding-left: 20px;
			padding-top: 150px;}
/* Settings Page */	
/* Real Time Control Page */
	.Speed{font: 25px Calibri;
		color: white;
		padding-left: 500px;
		padding-top: 100px;}
	.Speed>input[type=radio]{height: 30px;}
/* Attitude Input Page */
	.YPRError{font: 27px calibri;
				color: white;
				background-color: #D1D1D1;
				border: 10px solid #DEDEDE;
				border-radius: 10px;
				height: 350px;
				width: 350px;
				position: absolute;
				left: 350px;
				top: 400px;
				text-align: center;}
	.YPRGraph{font: 27px calibri;
				color: white;
				background-color: #D1D1D1;
				border: 10px solid #DEDEDE;
				border-radius: 10px;
				height: 350px;
				width: 350px;
				position: absolute;
				left: 750px;
				top: 400px;
				text-align: center;}
	.AngVelGraph{font: 27px calibri;
				color: white;
				background-color: #D1D1D1;
				border: 10px solid #DEDEDE;
				border-radius: 10px;
				height: 350px;
				width: 350px;
				position: absolute;
				left: 1150px;
				top: 400px;
				text-align: center;}
/* Search Mode Page */
	.SearchButton{font: 27px Calibri;
				color: white;
				border: 5px solid #2A60B0;
				background-image: radial-gradient(at top,#97BBF0,#3069BF),
								radial-gradient(at bottom,#97BBF0,#3069BF);
				border-radius: 10px;
				text-align: center;
				width: 200px;
				height: 50px;
				position: absolute;
				left: 800px;
				top: 185px;}
	.CameraView{font: 27px calibri;
				color: white;
				background-color: #D1D1D1;
				border: 10px solid #DEDEDE;
				border-radius: 10px;
				height: 350px;
				width: 350px;
				position: absolute;
				left: 350px;
				top: 400px;
				text-align: center;}
	.YPRGraph{font: 27px calibri;
				color: white;
				background-color: #D1D1D1;
				border: 10px solid #DEDEDE;
				border-radius: 10px;
				height: 350px;
				width: 350px;
				position: absolute;
				left: 750px;
				top: 400px;
				text-align: center;}
	.AngVelGraph{font: 27px calibri;
				color: white;
				background-color: #D1D1D1;
				border: 10px solid #DEDEDE;
				border-radius: 10px;
				height: 350px;
				width: 350px;
				position: absolute;
				left: 1150px;
				top: 400px;
				text-align: center;}