/* Backgound Image */
	body{background-image: url('PlanetBackground.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;}

/* Page Title */
	.title{font: 4vw Tiger;
			color: white;
			text-align: center;}
	.Power{width: 7%;
				border-radius: 5px;
				position: absolute;
				top: 1%;
				left: 1%;}
	.Stabilize{width: 7%;
				border-radius: 5px;
				position: absolute;
				top: 1%;
				right: 1%;}

/* Navigation Bar */
	.HomeButton{font: 2vw Calibri;
					color: black;
					border: 1px solid black;
					background-color: #F4F4F4;
					width: 16%;
					height: 6%;
					border-radius: 2px;
					text-align: center;
					position: absolute;
					top: 12.5%;
					left: 0.5%;}
	.InstructionButton{font: 2vw Calibri;
					color: black;
					border: 1px solid black;
					background-color: #F4F4F4;
					width: 17%;
					height: 6%;
					border-radius: 2px;
					text-align: center;
					position: absolute;
					top: 12.5%;
					left: 16.5%;}
	.SettingsButton{font: 2vw Calibri;
					color: black;
					border: 1px solid black;
					background-color: #F4F4F4;
					width: 16%;
					height: 6%;
					border-radius: 2px;
					text-align: center;
					position: absolute;
					top: 12.5%;
					left: 33.5%;}
	.RTCButton{font: 1.5vw Calibri;
					color: #777777;
					border: 1px solid black;
					background-color: #F4F4F4;
					width: 17%;
					height: 6%;
					border-radius: 2px;
					text-align: center;
					position: absolute;
					top: 12.5%;
					left: 49.5%;}
	.AIButton{font: 1.95vw Calibri;
					color: #777777;
					border: 1px solid black;
					background-color: #F4F4F4;
					width: 17%;
					height: 6%;
					border-radius: 2px;
					text-align: center;
					position: absolute;
					top: 12.5%;
					left: 66.5%;}
	.SMButton{font: 2vw Calibri;
					color: #777777;
					border: 1px solid black;
					background-color: #F4F4F4;
					width: 16%;
					height: 6%;
					border-radius: 2px;
					text-align: center;
					position: absolute;
					top: 12.5%;
					left: 83.5%;}

/* Emergency Stop Button */
	.StopButton{font: 4vw Tiger;
				font-weight: 900;
				color: black;
				background-color: white;
				width: 99%;
				height: 10%;
				text-align: center;
				position: absolute;
				bottom: 0.5%;}

/* Live Data/Logging Window */
	.datawindow{background-color: #B8B8B8;
				height: 68%;
				width: 20%;
				position: absolute;
				left: 1%;
				top: 20%;}
	.LiveData{font: 2.1vw Calibri;
			color: black;
			text-align: center;
			font-weight: 1000;}
	.LogOpt{font: 2.1vw Calibri;
			color: black;
			text-align: center;
			font-weight: 1000;
			padding-top: 64%;}
	.DataTable{border-collapse: collapse;
				position: absolute;
				left: 1%;
				top: 14%;}
	.DataLabel{font: 2vw Calibri;
			color: #F7F7F7;
			border: 1px solid black;
			background-color: #6E6E6E;
			text-align: center;
			width: 20%;}
	.Data{font: 2vw Calibri;
			color: black;
			border: 1px solid black;
			background-color: #F7F7F7;
			text-align: center;
			width: 78%;}
	.StartLog{font: 1.8vw Calibri;
			color: #F7F7F7;
			border: 1px solid black;
			background-color: #6E6E6E;
			border-radius: 5px;
			text-align: center;
			width: 98%;
			height: 8%;
			position: absolute;
			left: 1%;
			top: 66%;}
	.StopLog{font: 1.8vw Calibri;
			color: #F7F7F7;
			border: 1px solid black;
			background-color: #6E6E6E;
			border-radius: 5px;
			text-align: center;
			width: 98%;
			height: 8%;
			position: absolute;
			left: 1%;
			top: 74%;}
	.ClearLog{font: 1.8vw Calibri;
			color: #F7F7F7;
			border: 1px solid black;
			background-color: #6E6E6E;
			border-radius: 5px;
			text-align: center;
			width: 98%;
			height: 8%;
			position: absolute;
			left: 1%;
			top: 82%;}
	.Save{font: 1.8vw Calibri;
			color: #F7F7F7;
			border: 1px solid black;
			background-color: #1C116B;
			border-radius: 5px;
			text-align: center;
			width: 98%;
			height: 8%;
			position: absolute;
			left: 1%;
			top: 90%;}

/* Home Page */
	.welcomemsg1{font: 1.5vw Tahoma;
				color: white;
				text-align: center;
				padding-top: 5%;}
	.welcomemsg2{font: 1.5vw Tahoma;
				color: white;
				text-align: center;}

/* Instructions Page */
	.heading1{font: 2.4vw Audiowide;
			color: white;
			text-align: left;
			position: absolute;
			left: 5%;
			top: 17%;}
	.Intext1{font: 1.5vw Audiowide;
			color: white;
			text-align: left;
			position: absolute;
			left: 10%;
			top: 23.5%;
			right: 5%;}
	.heading2{font: 2.4vw Audiowide;
					color: white;
					text-align: left;
					position: absolute;
					left: 5%;
					top: 33%}
	.Intext2{font: 1.5vw Audiowide;
				color: white;
				text-align: left;
				position: absolute;
				left: 10%;
				top: 39.5%;
				right: 5%}
	.heading3{font: 2.4vw Audiowide;
						color: white;
						text-align: left;
						position: absolute;
						left: 5%;
						top: 49%;}
	.Intext3{font: 1.5vw Audiowide;
					color: white;
					text-align: left;
					position: absolute;
					left: 10%;
					top: 55.5%;
					right: 5%;}
	.warningmsg{font: 1.4vw Audiowide;
			font-style: italic;
			color: black;
			text-align: left;
			position: absolute;
			left: 5%;
			top: 72%;
			right: 5%;}
/* Settings Page */
/* Real Time Control Page */
	.Speed{font: 25px Calibri;
		color: white;
		padding-left: 500px;
		padding-top: 100px;}
/* Attitude Input Page */
.Yawlimit{font: 1.5vw calibri;
		color: white;
		width: 12%;
		text-align: center;
		position: absolute;
		left: 25%;
		top: 20%;}
.Pitchlimit{font: 1.5vw calibri;
		color: white;
		width: 12%;
		text-align: center;
		position: absolute;
		left: 45%;
		top: 20%;}
.Rolllimit{font: 1.5vw calibri;
		color: white;
		width: 12%;
		text-align: center;
		position: absolute;
		left: 65%;
		top: 20%;}
.YAWin{position: absolute;
		left: 25%;
		top: 27%;
		font: 1.5vw calibri;
		color: #F7F7F7;
		width: 12%;
		background-image: radial-gradient(at top,#97BBF0,#3069BF),
						radial-gradient(at bottom,#97BBF0,#3069BF);
		border-radius: 10px;
		text-align: center;
		border: 5px solid #2A60B0;}
.PITCHin{position: absolute;
		left: 45%;
		top: 27%;
		font: 1.5vw calibri;
		color: #F7F7F7;
		width: 12%;
		background-image: radial-gradient(at top,#97BBF0,#3069BF),
						radial-gradient(at bottom,#97BBF0,#3069BF);
		border-radius: 10px;
		text-align: center;
		border: 5px solid #2A60B0;}
.ROLLin{position: absolute;
		left: 65%;
		top: 27%;
		font: 1.5vw calibri;
		color: #F7F7F7;
		width: 12%;
		background-image: radial-gradient(at top,#97BBF0,#3069BF),
						radial-gradient(at bottom,#97BBF0,#3069BF);
		border-radius: 10px;
		text-align: center;
		border: 5px solid #2A60B0;}
.GO{position: absolute;
		left: 85%;
		top: 27%;
		font: 1.5vw calibri;
		color: #F7F7F7;
		width: 12%;
		background-image: radial-gradient(at top,#97BBF0,#3069BF),
						radial-gradient(at bottom,#97BBF0,#3069BF);
		border-radius: 10px;
		text-align: center;
		border: 5px solid #2A60B0;}
.Yawtitle{font: 1.5vw calibri;
		color: white;
		width: 12%;
		text-align: center;
		position: absolute;
		left: 25%;
		top: 30%;}
.Pitchtitle{font: 1.5vw calibri;
		color: white;
		width: 12%;
		text-align: center;
		position: absolute;
		left: 45%;
		top: 30%;}
.Rolltitle{font: 1.5vw calibri;
		color: white;
		width: 12%;
		text-align: center;
		position: absolute;
		left: 65%;
		top: 30%;}
.YPRError{font: 1.5vw calibri;
			color: white;
			background-color: #D1D1D1;
			border: 10px solid #DEDEDE;
			border-radius: 10px;
			height: 45%;
			width: 24%;
			position: absolute;
			left: 22%;
			top: 40%;
			text-align: center;}
.YPRGraph{font: 1.5vw calibri;
			color: white;
			background-color: #D1D1D1;
			border: 10px solid #DEDEDE;
			border-radius: 10px;
			height: 45%;
			width: 24%;
			position: absolute;
			left: 48%;
			top: 40%;
			text-align: center;}
.AngVelGraph{font: 1.5vw calibri;
			color: white;
			background-color: #D1D1D1;
			border: 10px solid #DEDEDE;
			border-radius: 10px;
			height: 45%;
			width: 24%;
			position: absolute;
			left: 74%;
			top: 40%;
			text-align: center;}
/* Search Mode Page */
	.SearchButton{position: absolute;
			left: 55%;
			top: 27%;
			font: 1.5vw calibri;
			color: #F7F7F7;
			width: 12%;
			background-image: radial-gradient(at top,#97BBF0,#3069BF),
							radial-gradient(at bottom,#97BBF0,#3069BF);
			border-radius: 10px;
			text-align: center;
			border: 5px solid #2A60B0;}
	.CameraView{font: 1.5vw calibri;
				color: white;
				background-color: #D1D1D1;
				border: 10px solid #DEDEDE;
				border-radius: 10px;
				height: 45%;
				width: 24%;
				position: absolute;
				left: 22%;
				top: 40%;
				text-align: center;}
	.YPRGraph{font: 1.5vw calibri;
				color: white;
				background-color: #D1D1D1;
				border: 10px solid #DEDEDE;
				border-radius: 10px;
				height: 45%;
				width: 24%;
				position: absolute;
				left: 48%;
				top: 40%;
				text-align: center;}
	.AngVelGraph{font: 1.5vw calibri;
				color: white;
				background-color: #D1D1D1;
				border: 10px solid #DEDEDE;
				border-radius: 10px;
				height: 45%;
				width: 24%;
				position: absolute;
				left: 74%;
				top: 40%;
				text-align: center;}
