/* Display */
	body{background-image: url('PlanetBackground.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;}
	.title{font: 4vw Tiger;
			color: white;
			text-align: center;}

/* Shutdown, Stabilize, Calibrate */
	.Shutdown{position: absolute;
				top: 3%;
				left: 1%;}
	.Stabilize{font: 1.5vw Calibri;
				width: 10%;
				height: 6%;
				position: absolute;
				top: 3.5%;
				right: 1%;
				color: black;
				background-image: radial-gradient(at top,#D9D9D9,#757575),
								radial-gradient(at bottom,#919191,#757575);
				border-radius: 5px;
				text-align: center;
				border: 2px solid #525252;}
		.Calibrate{font: 1.5vw Calibri;
					width: 20%;
					height: 6%;
					position: absolute;
					top: 40%;
					left: 40%;}
		.Spinup{font: 1.5vw Calibri;
					width: 20%;
					height: 6%;
					position: absolute;
					top: 50%;
					left: 40%;}

/* Navigation Bar */
	.HomeButton{font: 2vw Calibri;
					color: black;
					border: 1px solid black;
					background-color: #F4F4F4;
					width: 16%;
					height: 6%;
					border-radius: 2px;
					text-align: center;
					position: absolute;
					top: 12.5%;
					left: 0.5%;}
	.InstructionButton{font: 2vw Calibri;
					color: black;
					border: 1px solid black;
					background-color: #F4F4F4;
					width: 17%;
					height: 6%;
					border-radius: 2px;
					text-align: center;
					position: absolute;
					top: 12.5%;
					left: 16.5%;}
	.SettingsButton{font: 2vw Calibri;
					color: black;
					border: 1px solid black;
					background-color: #F4F4F4;
					width: 16%;
					height: 6%;
					border-radius: 2px;
					text-align: center;
					position: absolute;
					top: 12.5%;
					left: 33.5%;}
	.RTCButton{font: 1.5vw Calibri;
					color: #777777;
					border: 1px solid black;
					background-color: #F4F4F4;
					width: 17%;
					height: 6%;
					border-radius: 2px;
					text-align: center;
					position: absolute;
					top: 12.5%;
					left: 49.5%;}
	.AIButton{font: 1.95vw Calibri;
					color: #777777;
					border: 1px solid black;
					background-color: #F4F4F4;
					width: 17%;
					height: 6%;
					border-radius: 2px;
					text-align: center;
					position: absolute;
					top: 12.5%;
					left: 66.5%;}
	.SMButton{font: 2vw Calibri;
					color: #777777;
					border: 1px solid black;
					background-color: #F4F4F4;
					width: 16%;
					height: 6%;
					border-radius: 2px;
					text-align: center;
					position: absolute;
					top: 12.5%;
					left: 83.5%;}

/* Emergency Stop Button */
	.StopButton{font: 4vw Tiger;
				font-weight: 900;
				color: black;
				background-color: white;
				width: 99%;
				height: 10%;
				text-align: center;
				position: absolute;
				bottom: 0.5%;}

/* Live Data/Logging Window */
	.datawindow{background-color: #B8B8B8;
				height: 68%;
				width: 20%;
				position: absolute;
				left: 1%;
				top: 20%;}
	.LiveData{font: 2.1vw Calibri;
			color: black;
			text-align: center;
			font-weight: 1000;
			position: absolute;
			width: 98%;
			left: 1%;
			top: 2%;
			margin-top: 0%;}
	.LogOpt{font: 2.1vw Calibri;
			color: black;
			text-align: center;
			font-weight: 1000;
			position: absolute;
			width: 98%;
			left: 1%;
			top: 59%;
			margin-top: 0%;}
	.DataTable{border-collapse: collapse;
				position: absolute;
				left: 1%;
				top: 9%;
				width: 98%;}
	.DataLabel{font: 2vw Calibri;
			color: #F7F7F7;
			border: 1px solid black;
			background-color: #6E6E6E;
			text-align: center;
			width: 20%;}
	.Data{font: 2vw Calibri;
			color: black;
			border: 1px solid black;
			background-color: #F7F7F7;
			text-align: center;
			width: 78%;}
	.StartLog{font: 1.8vw Calibri;
			color: #F7F7F7;
			border: 1px solid black;
			background-color: #6E6E6E;
			border-radius: 5px;
			text-align: center;
			width: 98%;
			height: 8%;
			position: absolute;
			left: 1%;
			top: 66%;}
	.StopLog{font: 1.8vw Calibri;
			color: #F7F7F7;
			border: 1px solid black;
			background-color: #6E6E6E;
			border-radius: 5px;
			text-align: center;
			width: 98%;
			height: 8%;
			position: absolute;
			left: 1%;
			top: 74%;}
	.ClearLog{font: 1.8vw Calibri;
			color: #F7F7F7;
			border: 1px solid black;
			background-color: #6E6E6E;
			border-radius: 5px;
			text-align: center;
			width: 98%;
			height: 8%;
			position: absolute;
			left: 1%;
			top: 82%;}
	.Save{font: 1.8vw Calibri;
			color: #F7F7F7;
			border: 1px solid black;
			background-color: #1C116B;
			border-radius: 5px;
			text-align: center;
			width: 98%;
			height: 8%;
			position: absolute;
			left: 1%;
			top: 90%;}

/* Home Page */
	.welcomemsg1{font: 1.5vw Tahoma;
				color: white;
				text-align: center;
				padding-top: 5%;}
	.welcomemsg2{font: 1.5vw Tahoma;
				color: white;
				text-align: center;}

/* Instructions Page */
	.heading1{font: 2.4vw Audiowide;
			color: white;
			text-align: left;
			position: absolute;
			left: 5%;
			top: 17%;}
	.Intext1{font: 1.5vw Audiowide;
			color: white;
			text-align: left;
			position: absolute;
			left: 10%;
			top: 23.5%;
			right: 5%;}
	.heading2{font: 2.4vw Audiowide;
					color: white;
					text-align: left;
					position: absolute;
					left: 5%;
					top: 33%}
	.Intext2{font: 1.5vw Audiowide;
				color: white;
				text-align: left;
				position: absolute;
				left: 10%;
				top: 39.5%;
				right: 5%}
	.heading3{font: 2.4vw Audiowide;
						color: white;
						text-align: left;
						position: absolute;
						left: 5%;
						top: 49%;}
	.Intext3{font: 1.5vw Audiowide;
					color: white;
					text-align: left;
					position: absolute;
					left: 10%;
					top: 55.5%;
					right: 5%;}
	.warningmsg{font: 1.4vw Audiowide;
			font-style: italic;
			color: black;
			text-align: left;
			position: absolute;
			left: 5%;
			top: 72%;
			right: 5%;}
/* Settings Page */
/* Real Time Control Page */
	.Speed{font: 2vw Calibri;
		color: white;}
	input[type=radio] {
		    border: 0px;
		    width: 15%;
		    height: 2em;}
	.speed5{position: absolute;
				top: 27%;
				left: 30%;
				width: 10%;
				text-align: center;}
	.speed10{position: absolute;
					top: 27%;
					left: 43.25%;
					width: 10%;}
	.speed15{position: absolute;
					top: 27%;
					left: 56.5%;
					width: 10%;}
	.speed30{position: absolute;
					top: 27%;
					left: 69.75%;
					width: 10%;}
	.speed50{position: absolute;
					top: 27%;
					left: 83%;
					width: 10%;}
	.YawL{position: absolute;
				top: 40%;
				left: 30%;
				height: 10%;
				width: 8%;
				border-radius: 10px 0px 0px 10px;}
	.YawR{position: absolute;
				top: 40%;
				left: 38%;
				height: 10%;
				width: 8%;
				border-radius: 0px 10px 10px 0px;}
	.PitchU{position: absolute;
				top: 40%;
				left: 52%;
				height: 10%;
				width: 8%;
				border-radius: 10px 0px 0px 10px;}
	.PitchD{position: absolute;
				top: 40%;
				left: 60%;
				height: 10%;
				width: 8%;
				border-radius: 0px 10px 10px 0px;}
	.RollCW{position: absolute;
				top: 40%;
				left: 74%;
				height: 10%;
				width: 8%;
				border-radius: 10px 0px 0px 10px;}
	.RollCCW{position: absolute;
				top: 40%;
				left: 82%;
				height: 10%;
				width: 8%;
				border-radius: 0px 10px 10px 0px;}
	.YawtitleRTC{font: 1.5vw calibri;
						color: white;
						width: 16%;
						text-align: center;
						position: absolute;
						left: 30%;
						top: 48%;}
	.PitchtitleRTC{font: 1.5vw calibri;
						color: white;
						width: 16%;
						text-align: center;
						position: absolute;
						left: 52%;
						top: 48%;}
	.RolltitleRTC{font: 1.5vw calibri;
						color: white;
						width: 16%;
						text-align: center;
						position: absolute;
						left: 74%;
						top: 48%;}
/* Attitude Input Page */
.Yawlimit{font: 1.5vw calibri;
		color: white;
		width: 12%;
		text-align: center;
		position: absolute;
		left: 25%;
		top: 20%;}
.Pitchlimit{font: 1.5vw calibri;
		color: white;
		width: 12%;
		text-align: center;
		position: absolute;
		left: 45%;
		top: 20%;}
.Rolllimit{font: 1.5vw calibri;
		color: white;
		width: 12%;
		text-align: center;
		position: absolute;
		left: 65%;
		top: 20%;}
.YAWin{position: absolute;
		left: 25%;
		top: 27%;
		font: 1.5vw calibri;
		color: #F7F7F7;
		width: 12%;
		background-image: radial-gradient(at top,#97BBF0,#3069BF),
						radial-gradient(at bottom,#97BBF0,#3069BF);
		border-radius: 10px;
		text-align: center;
		border: 5px solid #2A60B0;}
.PITCHin{position: absolute;
		left: 45%;
		top: 27%;
		font: 1.5vw calibri;
		color: #F7F7F7;
		width: 12%;
		background-image: radial-gradient(at top,#97BBF0,#3069BF),
						radial-gradient(at bottom,#97BBF0,#3069BF);
		border-radius: 10px;
		text-align: center;
		border: 5px solid #2A60B0;}
.ROLLin{position: absolute;
		left: 65%;
		top: 27%;
		font: 1.5vw calibri;
		color: #F7F7F7;
		width: 12%;
		background-image: radial-gradient(at top,#97BBF0,#3069BF),
						radial-gradient(at bottom,#97BBF0,#3069BF);
		border-radius: 10px;
		text-align: center;
		border: 5px solid #2A60B0;}
.GO{position: absolute;
		left: 85%;
		top: 27%;
		font: 1.5vw calibri;
		color: #F7F7F7;
		width: 12%;
		background-image: radial-gradient(at top,#97BBF0,#3069BF),
						radial-gradient(at bottom,#97BBF0,#3069BF);
		border-radius: 10px;
		text-align: center;
		border: 5px solid #2A60B0;}
.Yawtitle{font: 1.5vw calibri;
		color: white;
		width: 12%;
		text-align: center;
		position: absolute;
		left: 25%;
		top: 30%;}
.Pitchtitle{font: 1.5vw calibri;
		color: white;
		width: 12%;
		text-align: center;
		position: absolute;
		left: 45%;
		top: 30%;}
.Rolltitle{font: 1.5vw calibri;
		color: white;
		width: 12%;
		text-align: center;
		position: absolute;
		left: 65%;
		top: 30%;}
.YPRError{background-color: #D1D1D1;
			border: 10px solid #DEDEDE;
			border-radius: 10px;
			height: 45%;
			width: 24%;
			position: absolute;
			left: 22%;
			top: 40%;
			text-align: center;}
.YPR{background-color: #D1D1D1;
			border: 10px solid #DEDEDE;
			border-radius: 10px;
			height: 45%;
			width: 24%;
			position: absolute;
			left: 48%;
			top: 40%;
			text-align: center;}
.AngVel{background-color: #D1D1D1;
			border: 10px solid #DEDEDE;
			border-radius: 10px;
			height: 45%;
			width: 24%;
			position: absolute;
			left: 74%;
			top: 40%;
			text-align: center;}
/* Search Mode Page */
	.SearchButton{position: absolute;
			left: 55%;
			top: 27%;
			font: 1.5vw calibri;
			color: #F7F7F7;
			width: 12%;
			background-image: radial-gradient(at top,#97BBF0,#3069BF),
							radial-gradient(at bottom,#97BBF0,#3069BF);
			border-radius: 10px;
			text-align: center;
			border: 5px solid #2A60B0;}
	.CameraView{font: 1.5vw calibri;
				color: white;
				background-color: #D1D1D1;
				border: 10px solid #DEDEDE;
				border-radius: 10px;
				height: 45%;
				width: 24%;
				position: absolute;
				left: 22%;
				top: 40%;
				text-align: center;}
	.YPRGraph{font: 1.5vw calibri;
				color: white;
				background-color: #D1D1D1;
				border: 10px solid #DEDEDE;
				border-radius: 10px;
				height: 45%;
				width: 24%;
				position: absolute;
				left: 48%;
				top: 40%;
				text-align: center;}
	.AngVelGraph{font: 1.5vw calibri;
				color: white;
				background-color: #D1D1D1;
				border: 10px solid #DEDEDE;
				border-radius: 10px;
				height: 45%;
				width: 24%;
				position: absolute;
				left: 74%;
				top: 40%;
				text-align: center;}
